:root {
    --primary-color: #3E6AE1;
    --background-color: #fff;
    --secondary-color: #000;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

main {
    padding-top: 15px;
    padding-left: 30px;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 650;
}

h3 {
    font-weight: 600;
}

header {
    padding: 15px;
    background-color: var(--primary-color);
}

header h1 {
    padding-left: 10px;
    color: var(--background-color);
}

footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
}

section {
    padding: 15px;
}